
:root{
    --skobeloff: #156064ff;
    --caribbean-green: #00c49aff;
    --naples-yellow: #f8e16cff;
    --melon: #ffc2b4ff;
    --coral: #fb8f67ff;

    --xiketic: #1c0f13ff;
    --slate-gray: #6e7e85ff;
    --opal: #b7ceceff;
    --lavender-gray: #bbbac6ff;
    --platinum: #e2e2e2ff;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

/* styling for page */
body {
    background-color: var(--xiketic);
    color: var(--platinum);
}


.homepage, .question-section, .quiz-done, .scores-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10vh 15vw;
}

/* button Styling */

.button{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background-color: var(--opal);
    min-width: min-content;
    width : 100%;
    color: var(--xiketic);
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: .25s;
    min-height: 3.5rem;
    font-weight: bold;
    box-shadow: 0px 0px var(--slate-gray);
    text-align: left;
}

.button:hover{
    background-color: var(--lavender-gray);
    transform: translateY(-5px);
    box-shadow: 0px 5px var(--slate-gray);
}

/* heading stylings */

h1{
    text-align: center;
    font-size: 2rem;
    margin: .74rem;
}

/* header section styling*/

header{
    display: flex;
    justify-content: space-between;
}

header .button{
    width: fit-content;
    font-size: .75rem;
    min-height: 2rem;
    margin-left: 1rem;
}

#score{
    margin-right: 1rem;
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    color: var(--platinum);
    opacity: 0;
    transition: .3s
}

/* homepage Styling */

.homepage p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: .75rem;
}

.homepage div, .button-list{
    width: 80%;
}

.start-button, .reset-scores{
    justify-content: center;
}

/* Questions Styling */

#result{
    font-size: 3rem;
    text-align: center;
}

.question-button:hover{
    font-size: 1.6rem;
}

/* end page styling */

.quiz-done p{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: .8rem 0px;
    margin-block-start: unset;
}

.quiz-done form{
    width: 80%;
}

.quiz-done div{
    display: flex
}

.quiz-done form label{
    height: 3rem;
    font-size: 1.2rem;
    text-align: right;
    margin: 0 .5rem;
    display:flex;
    align-items: center;
    font-weight: bold;
}

.quiz-done form #initials{
    height: 3rem;
    font-size: 1.2rem;
    flex: 2 1;
    border: none;
    border-radius: 5px;
    min-width: 10px;
    font-weight: bold;
    color: var(--xiketic)
}


@keyframes rainbow-color {
    0%{
        color:var(--platinum);
    }

    20%{
        color: green;
    }
    40%{
        color: yellow;
    }
    60%{
        color: red;
    }

    80%{
        color: indigo;
    }

    100%{
        color:var(--platinum);
    }

}

p span, .score-span{
    animation: rainbow-color 5s infinite;
}

/* High Score Styling */

.scores-section p{
    font-size: 1rem;
    text-align: center;
    margin-bottom: .75rem;
}

.scores-section ol li{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--platinum);
    margin-bottom: .5rem;
}

.scores-section ol li::marker{
    font-size: 1rem;
    font-weight: normal;
}

input.button{
    text-align: center;
    justify-content: center;
}