
:root{
    --skobeloff: #156064ff;
    --caribbean-green: #00c49aff;
    --naples-yellow: #f8e16cff;
    --melon: #ffc2b4ff;
    --coral: #fb8f67ff;

    --xiketic: #1c0f13ff;
    --slate-gray: #6e7e85ff;
    --opal: #b7ceceff;
    --lavender-gray: #bbbac6ff;
    --platinum: #e2e2e2ff;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

/* styling for page */
body {
    background-color: var(--xiketic);
    color: var(--platinum);
}


.homepage, .question-section, .quiz-done{
    flex-flow: column;
    align-items: center;
    margin: 20vh 15vw;
}

/* button Styling */

.button{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    border: none;
    background-color: var(--opal);
    min-width: min-content;
    width : 100%;
    color: var(--xiketic);
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: .25s;
    min-height: 3.5rem;
    font-weight: bold;
}

.button:hover{
    background-color: var(--lavender-gray);
    transform: translateY(-3px);
}

/* heading stylings */

h1{
    text-align: center;
    font-size: 2rem;
    margin: .74rem;
}

/* homepage Styling */

.homepage p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: .75rem;
}

.homepage div, .button-list{
    width: 80%;
}



.start-button{
    align-items: center;
}

/* Questions Styling */

#result{
    font-size: 3rem;
}

/* end page styling */

.quiz-done h2{
    margin-bottom: 1rem;
}

.quiz-done form{
    width: 80%;
}

.quiz-done div{
    display: flex
}

.quiz-done form label{
    height: 3rem;
    font-size: 1.2rem;
    text-align: right;
    margin: 0 .5rem;
    display:flex;
    align-items: center;
    font-weight: bold;
}

.quiz-done form #initials{
    height: 3rem;
    font-size: 1.2rem;
    flex: 2 1;
    border: none;
    border-radius: 5px;
    min-width: 10px;
    font-weight: bold;
    color: var(--xiketic)
}
